[submodule "riscv-tests"]
	path = riscv-tests
	url = https://github.com/riscv-software-src/riscv-tests
[submodule "external/riscv-arch-test"]
	path = external/riscv-arch-test
	url = https://github.com/riscv-non-isa/riscv-arch-test.git
