*

!.gitignore
!**/Makefile
!**/makefile
!Cargo.toml

# track `.github` directory
!.github/
!.github/**/
# track all files in `.github/`
!.github/**

# track `src` directory
!src/
!src/**/
# track `*.rs` files in `src/`
!src/**/*.rs

# track `doc` directory
!doc/
!doc/**/
# track `*.md` files in `doc/`
!doc/**/*.md

# track `test` directory
!test/
!test/**/
# track `*.h *.hpp *.c *.C *.cpp *.cxx *.cc *.s *.S *.ld` files in `test/`
!test/**/*.h
!test/**/*.hpp
!test/**/*.c
!test/**/*.C
!test/**/*.cpp
!test/**/*.cxx
!test/**/*.cc
!test/**/*.s
!test/**/*.S
!test/**/*.ld

